<header class="main-nav">

	<nav class="left-nav">
		<ul>
			<li class="button" id="sections-sidebar-btn">

				<button type="button" name="button">
					<i class="fa fa-bars"></i>
				<span>SECTIONS</span>
				</button>
			</li>
			<li class="button" id="search-modal-btn">
				<button type="button" name="button">
					<i class="fa fa-search"></i>
				<span>SEARCH</span>
				</button>
			</li>
		</ul>
	</nav>


	<nav class="right-nav">
			<ul>
				<li class="button" class="right-button" id="subscribe-now-btn">
					<button type="button" name="button">subscribe now</button>
				</li>

				<li class="button" class="right-button" id="log-in-btn">
					<button type="button" name="button">log in</button>
				</li>

				<li id="settings-gear">
					<i class="fa fa-cog" aria-hidden="true"></i>
				</li>
			</ul>
	</nav>

</header>
